#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


form{

  >input,
  >textarea{
    width: 100%;
    display: block;
    padding: 6px 8px;
    font-size: 16px;
    outline:none;
    border: 1px solid transparent;
    transition: border-color 0.3s;
    border-radius: 5px;

    &:focus{
      border-color:purple;
    }
  }

  >textarea{
    height: 10rem;
    resize: none;
    margin:15px 0px;

  }
}